.container {
	position:absolute;
	width: 460px;
	height: 560px;
	border:1px solid black;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

.titlePanel {
	position: relative;
	width: 460px;
	height: 50px;
	background-color: rgb(50,132,191);
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 10px;
}

.controls {
	position: relative;
	background-color: rgb(236, 236, 236);
	width: 460px;
	height: 70px;
	border-bottom: 1px solid black;
}

input[name='roomName'] {
	position:absolute;
	padding:16px;
	font-size:18px;
	width:280px;
	top:10px;
	left:10px;
	border:none;
	outline:none;
}
/*
#createBtn {
	position: absolute;
	background-color: rgb(50, 132, 191);
	padding: 17px;
	left:327px;
	top:10px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	text-align: center;
	outline:none;
}

#createBtn:hover {
	background-color: rgb(60, 152, 200);
}*/

.userName {
	position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    top: 24px;
    left: 77px;
    margin: 0;
}

.userPicHolder {
	position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.63);
}

.userPicHolder > img {
	width: 50px;
	height: 50px;
}

#logOutBtn {
	position: absolute;
	background-color: rgb(226, 98, 92);
	padding: 17px;
	left:327px;
	top:10px;
	width:90px;
	color:#FFF;
	font-family:sans-serif;
	text-decoration: none;
	text-align: center;
	outline:none;
}

#logOutBtn:hover {
	background-color: rgb(232, 48, 39);
}

.roomsList{
	list-style-type: none;
	padding:0px;
	margin: 0px;
}

.chat{
  border-bottom: 1px solid rgb(50, 132, 191);
  height: 50px;
  position: relative;
}

.chat p{
  width: 290px;
  margin: 0px;
  padding: 8px;
  float: left;
  font-family: sans-serif;
  font-size: 30px;
}

#createBtn, .chat a{
  background-color: rgb(50, 132, 191);
  color: white;
  text-decoration: none;
  padding: 20px 45px;
  float: right;
  margin: 6px;
  cursor: pointer;
}

.chat a{
	padding: 10px;
}
